body {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  background-color: darkblue;
  margin: 0;
}

.lilrectangle {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 15vh; 
  width: 5vh;
  background-color: black;
}

.lightpost {
  display: flex;
  flex-direction: column;
  height: 60vh;
  width: 10vh;
  background-color: black;
  align-content: center;

}

.light {
  border-radius: 50%;
  height: 10vh;
  width: 10vh;
}

.red:hover {
  background-color: red;
  box-shadow: 0 0 30px rgb(255, 0, 34);
}

.yellow {
  background-color: yellow;
  box-shadow: 0 0 30px rgb(255, 0, 34);
  
}

.green {
  background-color: green;
  box-shadow: 0 0 30px rgb(255, 0, 34);
}